<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>


    


    <section class="SelectionRating">
        <h3>On a scale of 1 - 10 how much does weathre influence your travel decisons?</h3>
        <div id="Rater" class="rater_div">
            <input id="Rating" type="number" checked="" max="10" min="1">
            <label for="Rating" class="numbers"></label>
        </div>
    </section>  
    <section class="SelectionButtons">
        <h3 id="BorP">Are you travelling for Buisness or Pleasure?</h3>
        <div id="firstFilter" class="filter-switch">
            <input checked="" id="Business" name="options" type="radio" />
            <label class="option" for="Business">Business</label>
            <input id="Pleasure" name="options" type="radio" />
            <label class="option" for="Pleasure">Pleasure</label>
            <span class="background"></span>
        </div>
    </section>
</body>
</html>